* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

ul, ol, li {
  list-style: none;
  font-family: 'Barlow Regular';
}

.root {
  width: 1960px;
  height: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */    
  background-color: #ffffff;
  font-family: 'Barlow', 'Arial', sans-serif;
  color: #050215;
  position: relative;  
}

.app__backgr-image {
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0; 
}

.app__body {
  width: calc(1960px - 294px);  
  padding: 63px 200px 63px 163px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

