.footer {
    width: 1250px;
    height: 181px;
    position: absolute;
    right: 185px;
    bottom: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__nav-box {
    width: 386px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__page-number {
    height: 200px;
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    -webkit-text-stroke: 1px #B4977B;
    -webkit-text-fill-color: #fff;
}

.footer__link {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    color: #050215;
}

.footer__link:hover {
    opacity: .6;
    transition: opacity 1s linear;
}